*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.bloc{
    width: 100%;
    background-color: #f1f1f1;
    margin: 0;
}
.header{
    padding-top: 10px;
}
.bloc_div{
    display: flex;
    max-width: 100%;
    background: rgb(209, 202, 202);
    height: 150px;
    justify-content: flex-start;
    margin-bottom: 35px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.bloc_div img{
    position: relative;
    margin-right: 10%;
    margin-left: 20px;
    border-radius: 100px;
    top: 30px;
    left: 70px;
}
.bloc_div p{
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: blue;
    line-height: 1.5;
}
.content{
    display: flex;
    justify-content: space-around;
}
h2{
    background-color: rgb(209, 202, 202);
    color: rgb(192, 111, 111);
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}
.content .left{
    max-width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.content .right{
    max-width: 70%;
    margin-right: 20px;
}

.profil,
.contact,
.competence_domaine,
.competence,
.langues{
    border: 3px solid  rgb(209, 202, 202);
    border-radius: 20px;
    margin-bottom: 20px;
}

.experience,
.formation,
.hobbies,
.atouts{
    border: 3px solid  rgb(209, 202, 202);
    border-radius: 20px;
    margin-bottom: 20px;
}
.right .experience{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 16px;
}
.formation{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 16px;
}
h4{
    color: blue;
}
.profil p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.contact ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.contact a{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.contact strong{
    margin-left: 20px;
    color: rgb(192, 111, 111);
}
.competence ul, .langues ul, .competence_domaine ul, .hobbies ul, .atouts ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.experience, .formation, .hobbies, .atouts{
    margin-left: 20px;
}

.experience a{
   text-decoration: none;
}

.mail{
    text-decoration: none;
    display: block;
    background-color: rgb(119, 119, 204);
    color: #ffffff;
    width: 80%;
    font-size: 18px;
    border-radius: 10px;
    padding: 0.4em;
    margin: 20px;
}

/*
    Style pour le dynamisme de la page avec javscript
*/
.ombre{
    box-shadow: 0 10px 50px rgb(192, 111, 111);
    margin: 0;
    padding: 0;
}

.bloc_dive, .photo_contact, .titre{
    box-shadow: 0 10px 50px rgb(192, 111, 111);
}


/* 
    Media query
*/
@media screen and (max-width: 700px){
    .bloc_div img{
       position: static;
       display: block;
    }
}
@media screen and (max-width: 600px){

    .content{
        width: 100%;
        display: block;
    }
    .contact, 
    .competence_domaine, 
    .competence, 
    .langues,
    .exp,
    .formation,
    .profil{
        display: block;
        width: 300%;
    }
    .experience, .formation, .hobbies, .atouts{
        display: block;
        width: 130%;
    }
}
@media screen and (max-width: 500px){
    .bloc_div img{
        position: static;
        display: inline-block;
        height: 100px;

    }
    .bloc_div{
        height: 100px;
    }
    .bloc_div p{
        font-size: 16px;
    }
}
@media screen and (max-width: 345px){
    .bloc_div{
        height: 120px;
    }
}
@media screen and (max-width: 320px){
    .bloc_div{
        height: 130px;
    }
}
@media screen and (max-width: 320px){
    .bloc_div{
        height: 135px;
    }
}
@media screen and (max-width: 300px){
    .bloc_div{
        height: 140px;
        margin-left: 0;
    }
    .bloc_div p{
        margin-left: 0;
    }
}
@media screen and (max-width: 290px){
    .bloc_div{
        height: 150px;
        margin-left: 0;
    }
    .bloc_div p{
        margin-left: 0;
    }
}
